/* Document */
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #151b2c;
  color: #b2b5bc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

/* Content Sections */
.content {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color:#010920;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.intro, .history, .our-mission, .features, .contact {
  margin-bottom: 20px;
}

h1, h2 {
  color: #cccdd2;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 5px 0;
}

/* footer */
footer {
  border-top: 1px solid black;
  border-radius: 2px;
  color: #e0e0e0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
  background-color: #010920;
}

footer > p {
  width: 100%;
  text-align: center;
  margin: 0;
  font-variant-caps: all-petite-caps;
  padding: 10px 0;
  font-size: larger;
  border-top: 1px solid #999ca5;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  place-items: center;
  margin-bottom: 20px;
}

.disclaimer {
  display: flex;
}

.disclaimer p{
  text-align: justify;
  font-style: italic;
  align-self: center;
  line-height: 30px;
  font-size: 18px;
  margin: 35px;
}

.disclaimer > img {
  max-width: 300px;
  height: auto;
}

.footer-links {
  display: flex;
  gap: 35px;
  align-self: baseline;
  margin: 40px auto auto
}

.footer-links h3 {
  margin: 0 0 30px;
  font-variant: all-small-caps;
  color: #cccdd2;
  white-space: nowrap;
}

.footer-links a, .footer-links button {
  color: #cccdd2;
  text-decoration: none;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #cccdd2;
  transition: border-color 0.3s, color 0.3s;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.footer-links a:hover, .footer-links button:hover {
  color: #666b79; 
  border-bottom: 1px solid #666b79; 
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

  /* Header */
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010920;
  }

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    gap: 6%;
  }

  /* Link styling */
  nav a {
    color: white;
    font-size: 20px;
    transition: color 0.3s, background-color 0.3s;
    border-bottom: 2px solid transparent;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    font-variant: small-caps;
    overflow: hidden;
  }
  

  nav a:hover:not(:nth-child(1)) {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
  }

  .home {
    width: 110px;
  }

  /* Adjusting the logo image */
  #logo {
    max-width: 100px;
    height: auto;
    display: block;
    scale: 1.45;
  }

/* General Responsive Adjustments */
@media (max-width: 1350px) {
}

@media (max-width: 1250px) {
  body > footer > div > div.disclaimer > p {
    font-size: 14px;
  }

  body > footer > div > div.disclaimer > img {
    max-width: 200px;
    height: 200px;
    align-self: center;
  }
}

/* Responsive */
@media (max-width: 1240px) {
}

@media (max-width: 1024px) {
  body > footer > div > div.footer-links > div > h3 {
    font-size: 16px;
  }

  .footer-links a {
    font-size: 14px;
  }

  @media (max-height: 800px) {
    /* Specific adjustments for devices with max width 1024px and max height 800px */
  }
}

/* Ipad */
@media (max-width: 1024px) {
}

/* Ipad Mini */
@media (max-width: 900px) {
  body > footer > p {
    font-size: 16px;
  }

  body > footer > div.footer-content {
    display: flex;
    flex-direction: column;
  }

  body > footer > div > div.footer-links {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  @media (max-height: 600px) {
    /* Specific adjustments for devices with max width 900px and max height 600px */
  }
}

@media (max-width: 908px) and (max-height: 600px) {
  body > footer > div > div.footer-links {
    flex-direction: column;
  }
}

/* Ipad Mini */
@media (max-width: 830px) {
  .content {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .intro, .history, .our-mission, .features, .contact {
    margin-bottom: 20px;
  }

  h1, h2 {
    color: #0A2A42;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li {
    padding: 5px 0;
  }
}

@media (max-width: 830px) {
  /* Additional adjustments if needed for max-width 830px */
}

@media (max-width: 830px) {
}

/* Phone > Iphone 14 and smaller */
@media (max-width: 668px) {
  .content {
    width: 95%;
    padding: 10px;
  }
}

@media (max-width: 668px) {
}

/* Responsive */
@media (max-width: 668px) {
}

@media (max-width: 550px) {
  nav {
    justify-content: space-around;
  }

  nav a {
    font-size: 14px;
  }

  body > footer > div > div.disclaimer {
    flex-direction: column-reverse;
  }

  body > footer > p {
    font-size: 14px;
  }

  body > footer > div > div.disclaimer > p {
    margin: 35px 5px;
  }
}

@media (max-width: 500px) {
  body > div > div.title.with-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: auto;
  }
}

@media (max-width: 450px) {
  nav {
    width: 95%;
  }

  nav a {
    font-size: 14px;
    padding: 0;
  }

  @media (max-height: 670px) {
    nav {
      justify-content: space-around;
    }

    nav a {
      font-size: 12px;
    }

    body > footer > div > div.disclaimer {
      flex-direction: column;
    }

    body > footer > p {
      font-size: 12px;
    }
  }
}

@media (max-width: 350px) {
}

/* Specific device adjustments */
@media (max-width: 930px) and (max-height: 450px) and (min-width: 910px) and (min-height: 400px) {
  /* Specific adjustments for devices within this range */
}

@media (max-width: 860px) and (max-height: 1280px) and (min-width: 750px) and (min-height: 1000px) {
  /* Specific adjustments for devices within this range */
}

@media (max-height: 950px) {
  /* Adjustments for max height 950px */
}

@media (max-height: 600px) {
  /* Adjustments for max height 600px */
}

@media (max-height: 500px) {
  /* Adjustments for max height 500px */
}

@media (max-height: 350px) {
  /* Adjustments for max height 350px */
}
