/* Document */
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  
}

.development {
  height: 83vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.development > h2{
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 15px;
}

/* footer */
footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Header */
header {
  background-color: #0A2A42; 
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

/* Link styling */
nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 20px 16px;
  transition: color 0.3s, background-color 0.3s;
}

nav a:hover {
  color: #FFD700;
}

nav a {
  border-bottom: 2px solid transparent;
  padding: 10px 16px;
  width: 100%;
  text-align: center;
}

nav a:hover {
  border-bottom: 2px solid #FFD700;
  color: #FFD700;
}

.header-btn {
  display: none;
}

/* Responsive */
@media (max-width: 1240px) {
  nav a {
    width: 90%;
    font-size: 16px;
    padding: 10px 0;
  }
}

/* Ipad */
@media (max-width: 1024px) {
  header {
    padding: 20px 0;
  }

  nav a {
    font-size: 14px;
  }
}

/* Ipad Mini */
@media (max-width: 830px) {
  body > footer > p {
    padding: 0;
    font-size: 14px;
  }

  body > header {
    padding: 0;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 10px;
    gap: 10px;
    justify-items: center;
    width: 100%;
    background-color: #0A2A42;
    padding: 10px;
  }

  nav a {
    font-size: 14px;
    text-decoration: none;
    padding: 15px;
    background-color: #1B4F72;
    border: 1px solid #0A2A42;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s, color 0.3s;
  }

  nav a:hover {
    background-color: #154360;
    color: #FFD700;
  }

  .about {
    grid-column: span 2;
    width: 95%;
  }

  .header-btn {
    width: 100%;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
  }

  .header-btn button {
    background-color: #0A2A42;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    border-radius: 0 0 5rem 5rem;
    transform: translateY(30%);
    padding: 10px 45px;
    z-index: 1000;
  }
  .header-btn button:hover {
    background-color: #1B4F72;
  }
}

/* Phone > Iphone 14 and smaller */
@media (max-width: 668px) {
  
}

@media (max-width: 500px)  {
  body > footer > p {
    padding: 0;
    font-size: 12px;
  }

  header > nav > a {
    width: 80%;
  }

  header > nav > a.about {
    width: 90%;
  }

  nav a {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  body > header > nav {
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden;
  }
  nav a {
    font-size: 10px;
    padding: 10px;
  }

  .home, .trending {
    grid-column: 1/-1;
    width: 90%;
  }

  #btn > button {
    transform: translateY(0%);
    border-radius: 5px;
    width: 95%;
    padding: 6px 10px 0;
  }

  .header-btn button:hover {
    background-color: #0A2A42;
  }
}