/* Document */
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #151b2c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}
 /* Overlay */
 .search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #010920;
  z-index: 101;
  display: none;
}

#ty-msg {
  background-color: #000000;
  color: #87ceeb;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 15px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: fadeInOut 4s ease-in-out forwards infinite;
  display: none;
  width: 100%;
  margin: 0;
  z-index: 103;
}

/* Animation pour le texte */
@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
/* footer */
footer {
  border-top: 1px solid black;
  border-radius: 2px;
  color: #e0e0e0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
  background-color: #010920;
}

footer .footer-legal {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: larger;
  border-top: 1px solid #999ca5;
  margin-top: 20px;
}

footer .footer-legal p {
  font-variant-caps: all-petite-caps;
  margin: 0 auto 15px;
  color: #999ca5;
  text-align: center;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  place-items: center;
  margin-bottom: 20px;
}

.disclaimer {
  display: flex;
}

.disclaimer p{
  text-align: justify;
  font-style: italic;
  align-self: center;
  line-height: 30px;
  font-size: 18px;
  margin: 35px;
}

.disclaimer > img {
  max-width: 300px;
  height: auto;
}

.footer-links {
  display: flex;
  gap: 35px;
  align-self: baseline;
  margin: 40px auto auto
}

.footer-links h3 {
  margin: 0 0 30px;
  font-variant: all-small-caps;
  color: #cccdd2;
  white-space: nowrap;
}

.footer-links a, .footer-links button {
  color: #cccdd2;
  text-decoration: none;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #cccdd2;
  transition: border-color 0.3s, color 0.3s;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.footer-links a:hover, .footer-links button:hover {
  color: #666b79; 
  border-bottom: 1px solid #666b79; 
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

  /* Header */
header {
  width: 100%;
  background-color: #010920;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  gap: 6%;
  position: relative;
}

/* Link styling */
nav a {
  color: white;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s;
  border-bottom: 2px solid transparent;
  text-align: center;
  text-decoration: none;
  font-family: 'Trebuchet MS', sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  font-variant: small-caps;
  overflow: hidden;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 10px 15px; 
}

#search-toggle {
  display: none;
  cursor: pointer;
  
}

nav a svg {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  display: none;
}

nav a:hover:not(.home) {
  color: #4CAF50;
  border-bottom: 2px solid #4CAF50;
}

nav a:hover svg * {
  stroke: #4CAF50;
  fill: none;
}

body > header > nav > a:nth-child(2):hover > svg * {
  fill: #4CAF50;
}

a.home {
  padding: 0;
}

/* Adjusting the logo image */
#logo {
  max-width: 110px;
  height: auto;
  display: block;
}

/* SEARCH BAR */
#input-container-search {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

#search-input {
  width: 365px;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  background-color: #333a4c;
  color: #cccdd2;
  border: none;
  padding-right: 40px;
  transition: width 0.4s ease-in-out;
}

#search-results {
  position: absolute;
  top: 95px;
  right: 0;
  width: 380px;
  margin: 0;
  display: none;
  overflow-y: auto;
  background-color: #333a4c;
  z-index: 10;
  min-height: 50px;
  padding: 15px;
  border-radius: 10px;
}
/* Search results */
.result-item {
background-color: #4d5262;
padding: 12px;
margin: 20px auto;
border-radius: 4px;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
transition: all 0.3s;
}

#search-results > div > p {
  text-align: center;
}
.result-item:hover {
background-color: #666b79;
transform: scale(1.02);
box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.result-item:last-child {
border-bottom: none;
}

.no-result {
padding: 20px;
text-align: center;
font-size: 18px;
color: #cccdd2;
font-weight: bold;
}

.industry {
margin-left: 10px;
padding: 6px 12px;
background-color: #80848f;
color: white;
border-radius: 5px;
font-size: 14px;
text-align: center;
}

.spinner {
border: 4px solid rgba(0, 0, 0, 0.1);
border-left-color: #169eff;
border-radius: 50%;
width: 40px;
height: 40px;
animation: spin 1s linear infinite;
margin: 20px auto;
}

@keyframes spin {
to {
    transform: rotate(360deg);
}
}

/* Container for Buttons */
.btnDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #444a5f;
}

/* See More Button */
.see-more {
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 14px;
  border: 1px solid transparent;
  margin: 0;
}

.see-more:hover {
  background-color: #4f91ff;
  color: #ffffff;
  border-color: #4f91ff;
}

/* Clear Button */
.clear {
  cursor: pointer;
  font-size: 18px;
  color: #ff6b6b;
  padding: 5px 15px;
  border-radius: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 500;
  border: 1px solid transparent;
  margin: 0;
}

.clear:hover {
  background-color: #ff6b6b;
  color: #ffffff;
  border-color: #ff6b6b;
}

.fa-solid.fa-magnifying-glass {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #cccdd2;
}
/*######################################*/

/* Container */
.container {
  width: 90%;
  margin: 40px auto;
  background-color: #010920;
  box-shadow: 0 10px 20px rgba(225, 219, 219, 0.05);  
  border-radius: 10px;
  padding: 20px 10px 60px;
  border: 1px solid #2c2c2c;
  transition: all 0.3s ease;
  justify-content: flex-start;
  overflow: hidden;
  height: max-content;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

body > div:nth-child(2) {
  padding-bottom: 80px;
}

/* NEWS container */
#news-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  padding: 0 40px 40px;
  box-sizing: border-box;
  align-self: center;
  scrollbar-color: #b2b5bc transparent;
}

#news-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#news-container::-webkit-scrollbar-track {
  background: transparent;
}

#news-container::-webkit-scrollbar-thumb {
  background-color: #b2b5bc;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

#news-container::-webkit-scrollbar-corner {
  background: transparent;
}

#error-page {
  text-align: center;
  padding: 20px;
}

#error-page img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}


/* LOADER*/
#loader {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  width: 90%;
  align-self: center;
  padding: 0 40px 40px;
}
.news-skeleton {
  background-color: #333a4c;
  border-radius: 8px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.news-skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
  animation: loading 1.5s infinite;
}

.news-skeleton .thumbnail-skeleton,
.news-skeleton .text-skeleton {
  background-color: #525e75;
  border-radius: 4px;
}

.news-skeleton .thumbnail-skeleton {
  width: 250px;
  height: 200px;
  align-self: center;
}

.news-skeleton .text-skeleton {
  height: 20px;
  width: 90%;
  margin: 10px 0;
}

.news-skeleton .text-skeleton.short {
  width: 45%;
}

@keyframes loading {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

/* LINK */
#link-container {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  padding: 5px;
  border-bottom: 1px solid #b2b5bc;
  animation: linkGlow 6s infinite;
  text-align: center;
  white-space: nowrap;
}

#link-container:hover {
  color: #666b79;
  border-bottom: 1px solid #666b79;
}

@keyframes linkGlow {
0% {
    color: #4d5262;
    border-bottom-color: #4d5262;
}
12.5% {
  color: #666b79;
  border-bottom-color: #666b79;
}
25% {
  color: #80848f;
  border-bottom-color: #80848f;
}
37.5% {
  color: #999ca5;
  border-bottom-color: #999ca5;
}
50% {
    color: #b2b5bc;
    border-bottom-color: #b2b5bc;
}
62.5% {
  color: #999ca5;
  border-bottom-color: #999ca5;
}
75% {
  color: #80848f;
  border-bottom-color: #80848f;
}
87.5% {
  color: #666b79;
  border-bottom-color: #666b79;
}
100% {
    color: #4d5262;
    border-bottom-color: #4d5262;
}
}

.news {
  background-color:	#333a4c;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  box-sizing: border-box;
}

.tickers-title-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.news-title {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  width: 90%;
  align-self: center;
  gap: 10px;
}

#current-time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.news-title > h1 {
  font-size: 2rem;
  color: #3498db;
  border: 0;
  margin: 0;
  padding: 10px;
  font-weight: bold;
  flex-grow: 1;
}

.news-icon {
  width: 100px;
  max-width: 100%;
  height: auto;
}

.news-icon svg {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.news-icon:hover svg {
  transform: scale(1.1);
}

.time-box {
  position: absolute;
  top: 10px;
  right: 40px;
  background-color: #2b3b4e;
  color: #ffd05b;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

.news-summary {
  font-size: 1.2em;
  color: #b2b5bc;
  margin: 0 auto;
}

.news:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.ticker-publisher-container {
  display: flex;
  justify-content: space-between;
  justify-self: center;
}

.news-thumbnail {
  max-width: 250px;  
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  align-self: center;
  justify-self: center;
}

.news h3 {
  margin: 10px 0;
  font-size: 1.25em;
  color: #b2b5bc;
  background-color: #525e75;
  padding: 10px;
  border-radius: 10px;
  text-align: justify; 
  align-self: flex-start;
}


.news-publisher {
  font-size: 0.875em;
  color: #4b2a2a;
  margin-bottom: 0;
}

.news-tickers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow-x: auto;
}

.news-tickers span {
  background-color: #010920;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.875em;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
  white-space: nowrap;
}

.news-tickers span:hover {
  background-color: #1a2136;
}

div > p.news-publish-time {
  font-size: 14px;
  color: #8d8db8;
  margin-bottom: 0;
  text-align: center;
}

/* Investment Container Styling */
.investment-container {
  margin: 40px auto;
  padding: 40px;
  width: 60%;
  max-width: 1440px;
  background-color: #010920;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.investment-container:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.investment-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #c9c9c9;
  text-align: center;
  font-weight: 700;
  border-bottom: 2px solid #c9c9c9;
  padding-bottom: 10px;
}

.investment-subtitle {
  font-size: 1.75rem;
  margin-bottom: 20px;
  color: #1abc9c;
  font-weight: 600;
  border-left: 4px solid #1abc9c;
  padding-left: 15px;
}

/* Investment Text Styling */
.investment-text {
  font-size: 1.125rem;
  color: #c0c0c0;
  line-height: 1.8;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  text-align: justify;
}

/* Investment List Styling */
.investment-list {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 25px;
  padding: 0 20px;
}

.investment-list li {
  font-size: 1.125rem;
  color: #c0c0c0;
  margin-bottom: 15px;
  position: relative;
  transition: all 0.3s ease;
  padding: 10px;
  border-bottom: 1px solid #1abc9c;
  border-radius: 8px;
  }

.investment-list li:hover {
  background-color: #117964;
  border-bottom: 1px solid #c0c0c0;
  color: #b3b3b3;
  user-select: none;
}

/* Video Section Styling */
.mini-section {
  margin-top: 40px;
  padding: 20px;
  background-color: #1f263a;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.mini-section .investment-subtitle {
  color: #1abc9c;
  border-left: 4px solid #1abc9c;
  padding-left: 15px;
}

.video-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* Investment Summary Styling */
.investment-summary {
  background-color: #1f263a;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.investment-summary .investment-subtitle {
  color: #e0e0e0;
}

.investment-summary .investment-text {
  color: #e0e0e0;
  font-weight: 500;
}

/* NAV, REPORT and LIST STYLING */
#nav-container {
  display: flex;
  justify-content: space-around;
}

.container h2, .container p, .container li, .container h1 {
  color: #cccdd2;
} 
/* Item Container */
.item-container {
  margin-bottom: 40px;
}

.container h2 img {
  user-select: none;
  margin-left: 10px;
  max-height: 24px;
}

.container h1 img {
  user-select: none;
  max-height: 50px;
  margin: auto 20px;
}

/* Research Container Styling */
.research-container {
  margin: 40px auto;
  padding: 40px;
  width: 60%;
  max-width: 1400px;
  background-color: #010920; /* Consistent with site theme */
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.research-container:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

/* Research Title Styling */
.research-title {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #f2f2f2; /* Consistent with previous titles */
  font-weight: 600;
  display: flex;
  align-items: center;
}

.research-icon {
  margin-left: 10px;
  width: 44px;
  height: 44px;
}

/* Research Text Styling */
.research-text {
  font-size: 1.125rem;
  color: #c0c0c0;
  line-height: 1.8;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

/* Research List Styling */
.research-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.research-list li {
  font-size: 1.125rem;
  color: #c0c0c0;
  margin-bottom: 15px;
  padding: 8px 15px;
  border-left: 3px solid #1abc9c;
  position: relative;
  transition: background-color 0.3s ease;
}

.research-list li:hover {
  background-color: #1f263a;
  color: #1abc9c;
}

/* Nav Items */
.nav-item a {
  color: #00bfff;
  text-decoration: none;
  font-size: 16px;
}

.nav-item a:hover {
  text-decoration: underline;
}

/* List Items */
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #201801;
  color: #b2b5bc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.list-item:hover {
  background-color: #625d4d;
}

.list-item img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.list-item h3 {
  margin: 0;
  font-size: 18px;
}

.list-item p {
  margin: 5px 0;
  color: #999ca5;
}

/* Research Reports */
.research-report {
  background-color: #1c1c1c;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.research-report:hover {
  background-color: #2c2c2c;
}

.research-report h3 {
  margin: 0;
  color: #fff;
  font-size: 18px;
}

.research-report p {
  margin: 5px 0;
  color: #ccc;
}

/* General Responsive Adjustments */
@media (max-width: 1366px) {
  body > header > nav {
    margin: 0 auto;
    gap: 4%;
  }
  #search-input {
    width: 220px;
  }
  
  #search-results {
    width: 235px;
  }
}

@media (max-width: 1250px) {
  body > footer > div > div.disclaimer > p {
    font-size: 14px;
  }
  body > footer > div > div.disclaimer > img {
    max-width: 180px;
    height: 180px;
    align-self: center;
  }

  nav a {
    font-size: 16px;
  }

  nav a svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 1024px) {
  body > footer > div > div.footer-links > div > h3 {
    font-size: 16px;
  }
  .footer-links a {
    font-size: 14px;
  }

  #search-input {
    width: 200px;
  }
  
  #search-results {
    right: -5px;
    width: 225px;
    max-height: 550px;
  }

  nav a {
    font-size: 14px;
    white-space: nowrap;
  }

  .news-title {
    flex-direction: column;
    padding-right: 10px;
  }

  .news-title h1 {
    visibility: hidden;
  }

  .news-icon {
      width: 90px;
  }

.time-box {
    top: auto;
    bottom: 10px; 
    right: 50%;
    transform: translateX(50%);
    font-size: 1rem;
    padding: 8px 12px;
}
}

@media (max-width: 975px) {
  body > header > nav {
    margin: 0 auto;
    gap: 4%;
  }

  #input-container-search {
    right: -30px;
  }
  
  #search-input {
    width: 165px;
  }
  
  #search-results {
    right: -35px;
    width: 195px;
  }

  #search-results > div.result-item {
    flex-direction: column;
  }

  #search-results > div > p {
    font-size: small;
  }

  @media (max-height: 450px) {
    #input-container-search {
      width: 100%;
      right: 0;
    }

    #search-input {
      width: 100%;
    }

    #search-results {
      width: 96%;
      right: 0;
    }

    nav a {
      width: 100%; 
      font-size: 16px;
    }

    nav a svg {
      width: 30px;
      height: 30px;
      display: block;
    }

    nav a span {
      display: none;
    }

    body > header > nav {
      margin: 0 auto;
    }
  }
}

/* Ipad Mini */
@media (max-width: 900px) {
  div.footer-legal > p {
    font-size: 16px;
  }

  body > footer > div.footer-content {
    display: flex;
    flex-direction: column;
  }
  body > footer > div > div.footer-links {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .container h1 {
    font-size: 35px;
  }

  .container h1 img {
    max-height: 40px;
  }
}

/* Ipad Mini */
@media (max-width: 830px) {
  body > header > nav {
    gap: 3%;
  }

  nav a {
    font-size: 12px;
  }

  nav a svg {
    width: 14px;
    height: 14px;
  }

  #search-input {
    width: 150px;
  }

  #input-container-search {
    right: -15px;
  }

  #search-results {
    right: -10px;
    width: 170px;
    padding: 10px;
  }

  #search-results > div.result-item > p,
  #search-results > div.result-item > span {
    font-size: small;
  }

  #current-time {
    font-size: 14px;
  }

  @media (max-height: 450px) {
    #input-container-search {
      width: 100%;
      right: 0;
    }

    #search-input {
      width: 100%;
    }

    #search-results {
      width: 96%;
      right: 0;
    }

    nav a {
      width: 100%; 
      font-size: 16px;
    }

    nav a svg {
      width: 25px;
      height: 25px;
    }

    nav a span {
      display: none;
    }

    body > header > nav {
      margin: 0 auto;
    }
  }

  #news-container, #loader {
    max-height: 545px;
    overflow-y: auto;
    padding: 0 10px;
  }
}

/* Phone > Iphone 14 and smaller */
@media (max-width: 668px) {
  body > header {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: -webkit-fill-available;
    box-sizing: border-box;
    border-top: 1px solid #999ca5;
  }
  body > header > nav {
    width: 95%;
    justify-content: space-around;
    margin: auto;
  }

  body > header > div#input-container-search {
    right: 50px;
  }

  #search-input {
    width: 100%;
  }

  nav a span, div#input-container-search {
    display: none;
  }

  #search-toggle {
    display: block;
  }

  nav a svg.nav-icon {
    width: 28px;
    height: 28px;
    margin: 10px;
    display: block;
  }

  a.nav-link.nav-active {
    border-bottom: 4px solid #3498db;
    padding-bottom: 5px;
  }

  a.nav-link.nav-active svg * {
    stroke: #3498db;
  }


  #logo {
    max-width: 80px;
  }

  #input-container-search {
    width: 85%;
    right: 7%;
  }

  #search-results {
    width: 80%;
    right: 5%;
    top: -975%;
    z-index: 1002;
    max-height: 65dvh;
  }

  body.opac {
    overflow-y: hidden;
  }

  body.opac .search-overlay {
    display: block;
  }

  body.opac #ty-msg {
    position: fixed;
    top: 0;
  }

  #ty-msg {
    display: block;
    border-radius: 0;
  }

  body > footer {
    padding-bottom: 95px;
  }

  @media (max-height: 800px) {
    #search-results {
      top: -700%;
    }
  }

  @media (max-height: 740px) {
    #search-results {
      top: -825%;
    }
  }

  @media (max-height: 700px) {
    #search-results {
      top: -725%;
    }
  }

  @media (max-height: 600px) {
    #search-results {
      top: -250%;
      max-height: 150px;
    }
  }

  #news-container h3 {
    font-size: 16px;
  }

  #news-container .news-publisher {
    text-align: center;
  }

  #news-container .news-tickers span {
    font-size: 10px;
  }

  body > div:nth-child(4).container {
    margin-top: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
  }

  .container h1 {
    font-size: 25px;
  }

  .container h1 img {
    max-height: 30px;
  } 

  .news-thumbnail {
    max-width: 150px;  
    max-height: 200px;
  }

  #news-container > div > div > h3 {
    font-size: 15px;
  }

  #loader > div > div.thumbnail-skeleton {
    width: 150px;
    height: 150px;
  }

  .news-icon {
      width: 70px; 
  }
}

@media (max-width: 550px) {
  body > footer > div > div.disclaimer {
    flex-direction: column-reverse;
  }

  div.footer-legal > p  {
    font-size: 14px;
  }

  body > footer > div > div.disclaimer > p {
    margin: 35px 5px;
  }
  
  #news-container > div > div > h3 {
    text-align: center;
  }

  #news-container > div.news {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 0;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
  }

  #loader > div.news-skeleton {
    display: flex;
    flex-direction: column;
  }

  #loader > div > div.thumbnail-skeleton {
    width: 100%;
    height: 250px;
  }

  #news-container > div > div {
    gap: 10px;
    margin: 10px 10px auto;
  }

  .news-thumbnail {
    max-width: 95%;  
    max-height: 200px;
    margin: 15px auto auto;
  }

  .container h1 {
    font-size: 24px;
  }

  .container h1 img {
    max-height: 25px;
  }

  #link-container {
    font-size: 14px;
  }

  #important > ul > li {
    margin: 10px auto;
  }
}

@media (max-width: 500px) {
  a.nav-link, a.home {
    padding: 0;
    width: 100%;
  }

  #logo {
    max-width: 80px;
  }

  body > footer {
    padding-bottom: 85px;
  }
}

@media (max-width: 450px) {
  nav {
    width: 95%;
  }

  nav a {
    font-size: 14px;
    padding: 0;
  }

  nav a svg.nav-icon {
    width: 20px;
    height: 20px;
  }

  #logo {
    max-width: 70px;
  }

  #ty-msg {
    font-size: 14px;
  }

  @media (max-height: 670px) {
    body > footer > div > div.disclaimer {
      flex-direction: column;
    }

    div.footer-legal > p {
      font-size: 12px;
    }
  }
}

@media (max-width: 350px) {
  #news-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    box-sizing: border-box;
    overflow: auto;
  }

  #current-time {
    font-size: 10px;  
  }
}