/* Document */
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  grid-column: 1/3;
  text-align: center;
  align-self: flex-end;
}
/* Container */
.container {
  width: 80%;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  padding: 20px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  justify-content: flex-start;
  overflow: hidden;
}

.container h3 {
  color: #000000;
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 600;
}

/* NEWS container */
#news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.news-title {
  grid-column: 1/-1;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.news-title h1 {
  font-size: 2.5em;
  color: #333;
  margin: 0 0 10px 0;
  width: 100%;
}

.news-summary {
  font-size: 1.2em;
  color: #666;
  margin: 0 auto;
  width: 60%;
  
}

.news {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  cursor: pointer;
}

.news:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.ticker-publisher-container {
  display: flex;
  justify-content: space-between;
  justify-self: center;
}

.news-thumbnail {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.news h4 {
  margin: 10px;
  font-size: 1.25em;
  color: #333;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis; 
}


.news-publisher {
  font-size: 0.875em;
  color: #4b2a2a;
  margin-bottom: 0;
}

.news-tickers {
  display: flex;
  gap: 8px;
  overflow-x: auto;
}

/* Custom Scrollbar */
.news-tickers::-webkit-scrollbar {
  height: 8px;
}

.news-tickers::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.news-tickers::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

.news-tickers::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.news-tickers span {
  background-color: #0A2A42;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.875em;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
  white-space: nowrap;
}

.news-tickers span:hover {
  background-color: #0056b3;
}

.news-title h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

/* footer */
footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Header */
header {
  background-color: #0A2A42; 
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

/* Link styling */
nav a {
  color: white;
  font-size: 18px;
  padding: 20px 16px;
  transition: color 0.3s, background-color 0.3s;
  border-bottom: 2px solid transparent;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 2px solid #FFD700;
  color: #FFD700;
}

.header-btn {
  display: none;
}

/* HAMSTER */
#hamster-loading {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wheel-and-hamster {
  justify-self: center;
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em,1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30,90%,55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
        0.75em -1.55em 0 hsl(30,90%,90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0,90%,85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0,0%,0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0,90%,75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30,90%,90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
        0.15em -0.5em 0 hsl(30,90%,80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0,90%,85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
        linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from, to {
    transform: rotate(4deg) translate(-0.8em,1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em,1.85em);
  }
}

@keyframes hamsterHead {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from, 90%, to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-30deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(20deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from, 25%, 50%, 75%, to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}

/* Responsive */
@media (max-width: 1240px) {
  nav a {
    width: 90%;
    font-size: 16px;
    padding: 10px 0;
  }
}

/* Ipad */
@media (max-width: 1024px) {
  header {
    padding: 20px 0;
  }

  nav a {
    font-size: 14px;
  }
}

/* Ipad Mini */
@media (max-width: 830px) {
  body > footer > p {
    padding: 0;
    font-size: 14px;
  }

  body > header {
    padding: 0;
    position: fixed;
    z-index: 1000;
  }
  
  .container {
    margin-top: 90px;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 10px;
    gap: 10px;
    justify-items: center;
    width: 100%;
    background-color: #0A2A42;
    padding: 10px;
  }

  nav a {
    font-size: 16px;
    padding: 15px;
    background-color: #1B4F72;
    border: 1px solid #0A2A42;
    border-radius: 5px;
    color: white;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;

}


  nav a:hover {
    background-color: #154360;
    border-bottom-color: #FFD700;
    color: #FFD700;
  }

  .about {
    grid-column: span 2;
    width: 95%;
  }

  .nav-hidden {
    height: 50px;
    overflow: hidden;
    transition: height 0.2s ease-out;
    position: relative;
  }

  .nav-visible {
    height: 300px;
    overflow: visible;
    transition: height 0.3s ease-in;
    position: relative;
  }

  .nav-hidden > a {
    opacity: 0;
    pointer-events: none;
  }

  .nav-visible > a {
  opacity: 1;
  transition: opacity 0.6s ease-in;
  pointer-events: auto;
  }

  .header-btn i {
    transition: transform 0.6s ease;
  }

  .rotate-up {  
    transform: rotate(180deg);
  }

  .nav-hidden > #div-btn {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    bottom: -25px;
    width: 100%;
    z-index: 1000;
    grid-row: 1;
    cursor: pointer;
    transform: translateY(40%);
  }

  .nav-hidden > #div-btn > #btn {
    transform: translateY(0%);
    padding: 0;
  }

  .header-btn {
    width: 100%;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
  }

  .header-btn button {
    background-color: #0A2A42;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    border-radius: 0 0 5rem 5rem;
    transform: translateY(30%);
    padding: 10px 45px;
    z-index: 1000;
  }

  #news-container {
    max-height: 545px;
    overflow-y: auto;
  }
}

/* Phone > Iphone 14 and smaller */
@media (max-width: 668px) {
  #news-container .news, #news-container .news-title {
    width: 100%;
    box-sizing: border-box;
  }

  #news-container .news-thumbnail,.news-title {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  #news-container h4 {
    font-size: 16px;
    text-align: center; 
  }

  #news-container .news-publisher {
    font-size: 12px;
    text-align: center;
  }

  #news-container .news-tickers span {
    font-size: 10px;
  }

  #news-container {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}

@media (max-width: 500px)  {
  body > footer > p {
    padding: 0;
    font-size: 12px;
  }

  header > nav > a {
    width: 80%;
  }

  header > nav > a.about {
    width: 90%;
  }

  nav a {
    font-size: 12px;
  }

  #news-container > div.news {
    margin: auto;
  }

  #news-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 350px) {
  body > header > nav.nav-visible {
    grid-template-rows: 1fr 1fr 1fr 1fr 10px;
    overflow: visible;
  }
  nav a {
    font-size: 10px;
    padding: 10px;
  }

  .home, .trending {
    grid-column: 1/-1;
    width: 90%;
  }

  .header-btn button {
    padding: 6px 25px;
    transform: translateY(50%);
  }

  #news-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  #news-container {
    box-sizing: border-box;
    overflow: auto;
  }
}