/* Document */
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  color: #b2b5bc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #151b2c;
}

/* footer */
footer {
  border-top: 1px solid black;
  border-radius: 2px;
  color: #e0e0e0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
  background-color: #010920;
}

footer > p {
  width: 100%;
  text-align: center;
  margin: 0;
  font-variant-caps: all-petite-caps;
  padding: 10px 0;
  font-size: larger;
  border-top: 1px solid #999ca5;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  place-items: center;
  margin-bottom: 20px;
}

.disclaimer {
  display: flex;
}

.disclaimer p{
  text-align: justify;
  font-style: italic;
  align-self: center;
  line-height: 30px;
  font-size: 18px;
  margin: 35px;
}

.disclaimer > img {
  max-width: 300px;
  height: auto;
}

.footer-links {
  display: flex;
  gap: 35px;
  align-self: baseline;
  margin: 40px auto auto
}

.footer-links h3 {
  margin: 0 0 30px;
  font-variant: all-small-caps;
  color: #cccdd2;
  white-space: nowrap;
}

.footer-links a, .footer-links button {
  color: #cccdd2;
  text-decoration: none;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #cccdd2;
  transition: border-color 0.3s, color 0.3s;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.footer-links a:hover, .footer-links button:hover {
  color: #666b79; 
  border-bottom: 1px solid #666b79; 
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

  /* Header */
  header {
    width: 100%;
    background-color: #010920;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;

}


  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    gap: 6%;
  }

  /* Link styling */
  nav a {
    color: white;
    font-size: 20px;
    transition: color 0.3s, background-color 0.3s;
    border-bottom: 2px solid transparent;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    font-variant: small-caps;
    overflow: hidden;
  }
  

  nav a:hover:not(:nth-child(1)) {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
  }

  .home {
    width: 110px;
  }

  /* Adjusting the logo image */
  #logo {
    max-width: 100px;
    height: auto;
    display: block;
    scale: 1.45;
  }

  .input-container {
    display: flex;
    align-items: center;
    position: relative;
}

#search-input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  background-color: #333a4c;
  color: #cccdd2;
  border: none;
  padding-right: 40px;
  transition: width 0.4s ease-in-out;
}

#search-input:focus {
  width: 250px;
}

.fa-solid.fa-magnifying-glass {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #cccdd2;
}

/* HTML: <div class="loader"></div> */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

/* Animation de chargement */
.loader .spin {
  width: 70px;
  height: 40px;
  --_g: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
  background:
      var(--_g) 50% 0,
      var(--_g) 100% 0;
  background-size: 16px 16px;
  position: relative;
  animation: l23-0 1.5s linear infinite;
}

.loader .spin:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
  left: 0;
  top: 0;
  animation: 
      l23-1 1.5s linear infinite,
      l23-2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
}

.loader-text {
  font-size: 20px;
  color: #000;
  animation: text-dots 1.5s steps(3, end) infinite;
  margin: 0 15px 25px 0;
}

@keyframes text-dots {
  0%, 20% { content: "Calculating"; }
  40% { content: "Calculating ."; }
  60% { content: "Calculating .."; }
  80%, 100% { content: "Calculating ..."; }
}

@keyframes l23-0 {
  0%, 31% { background-position: 50% 0, 100% 0; }
  33% { background-position: 50% 100%, 100% 0; }
  43%, 64% { background-position: 50% 0, 100% 0; }
  66% { background-position: 50% 0, 100% 100%; }
  79% { background-position: 50% 0, 100% 0; }
  100% { transform: translateX(calc(-100%/3)); }
}

@keyframes l23-1 {
  100% { left: calc(100% + 7px); }
}

@keyframes l23-2 {
  100% { top: -0.1px; }
}


.container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: 60px auto;
  background-color: #010920;
  border: 1px solid #2c2c2c;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

#news-container, #stock-chart {
  background-color: #1a2136;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #b2b5bc;
}

#stock-chart {
  min-height: 200px;
}

.title-container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #b2b5bc;
  padding-bottom: 10px;
}

.big-rock {
  margin-bottom: 40px;
}

.big-rock > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.big-rock h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
/* Base styles for the cards */
.card {
  background-color: #333a4c;
  border: 1px solid #4d5262;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33.333% - 20px);
}

/* Styles for card headers */
.card h3 {
  font-size: 24px;
  color: #b2b5bc;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* Styles for card paragraphs */
.card p {
  font-size: 18px;
  color: #cccdd2;
  margin: 10px 0;
  text-align: justify;
}

.card-divider {
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
}

/* Styles for result text */
.result {
  font-size: 28px;
  color: #80848f;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

/* Title container styles */
.title-container h1 {
  font-size: 2rem;
  color: #b2b5bc;
  margin-bottom: 20px;
}

/* Stock info styles */
#stock-info {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

#stock-info p {
  color: #b2b5bc;
  align-self: center;
  font-size: 18px;
}

/* Card states */
.card.pass {
  border-left: 5px solid #4caf50;
  color: #4caf50;
}

.card.pass h3 {
  color: #4caf50;
}

.card.fail {
  border-left: 5px solid #f44336;
  color: #f44336;
}

.card.fail h3 {
  color: #f44336;
}

.card.undefined > h3 {
  text-decoration: line-through;
}


/* NEWS */
.aside-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 30%;
  gap: 20px;
}

#news-container {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  width: 90%;
  padding: 10px;
  overflow-y: auto;
  align-self: center;
}

.news-item {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  margin: 20px auto 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border-bottom: 3px solid #0A2A42;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.news-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}

.news-title {
  font-size: 14px; 
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.news-publisher {
  font-size: 12px;
  color: #666;
  margin: 15px 5px 5px;
}
.news-tickers {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 10px auto 5px;
  max-width: 100%;
  white-space: nowrap;
}

.news-tickers span {
  background-color: #0A2A42;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s;
  flex: 0 0 auto;
  white-space: nowrap;
}

.news-tickers span:hover {
  background-color: #0056b3;
}

.news-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid #e0e0e0;
  position: relative;
  z-index: 1;
}

.news-header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #3498db, #2ecc71);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.news-content {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}


/* EROOR PAGE */
#error-page {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

#error-page h1 {
  font-size: 2em;
  margin: 0 0 20px 0;
}

#error-page p {
  font-size: 1.5em;
}

.no-scroll, #no-scrolling {
  overflow: hidden;
}


/* BOUTON PEU ETREE A CHANGER */
button {
  margin-top: 20px;
  position: relative;
  border: none;
  background: transparent;
  padding: 3px;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
 }
 
 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     hsl(340deg 100% 16%) 0%,
     hsl(340deg 100% 32%) 8%,
     hsl(340deg 100% 32%) 92%,
     hsl(340deg 100% 16%) 100%
   );
 }
 
 .front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 button:hover {
  filter: brightness(110%);
 }
 
 button:hover .front {
  transform: translateY(-6px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 
 button:hover .shadow {
  transform: translateY(4px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 button:focus:not(:focus-visible) {
  outline: none;
 }

/* Responsive adjustments */
@media (max-width: 1240px) {
  /* Add styles if needed */
}

@media (max-width: 1024px) {
  body > footer > div > div.footer-links > div > h3 {
    font-size: 16px;
  }
  .footer-links a {
    font-size: 14px;
  }
  
  #search-input:focus {
    width: 150px;
    padding-left: 10px;
  }

  #search-input {
    width: 0;
    padding-left: 0;
  }
}

@media (max-width: 830px) {
  .aside-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-content {
    flex-direction: column-reverse;
  }
  #news-container, #stock-chart {
    width: 48%;
    height: auto;
  }
  .development {
    height: 90vh;
  }
  .development > h2 {
    font-size: 20px;
  }
}

@media (max-width: 668px) {
  .aside-container {
    flex-direction: column;
    align-items: center;
  }
  #news-container, #stock-chart {
    width: 85%;
  }
  #stock-name {
    font-size: 20px;
    margin-bottom: 0;
  }
  div#stock-info > p#stock-ticker {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  #news-container, #stock-chart {
    width: 80%;
    margin-bottom: 20px;
  }
  body > div > div.title.with-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: auto;
  }
  header nav a {
    font-size: 14px;
    margin: 0 10px;
  }
  .input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  #search-input {
    width: 80%;
  }
}

@media (max-width: 450px) {
  nav {
    width: 95%;
  }
  nav a {
    font-size: 14px;
    padding: 0;
  }
  @media (max-height: 670px) {
    nav {
      justify-content: space-around;
    }
    nav a {
      font-size: 12px;
    }
    body > footer > div > div.disclaimer {
      flex-direction: column;
    }
    body > footer > p {
      font-size: 12px;
    }
  }
}

@media (max-width: 350px) {
  #search-input {
    width: 60%;
  }
}

@media (max-width: 1350px) {
  /* Add styles if needed */
}

@media (max-width: 1250px) {
  body > footer > div > div.disclaimer > p {
    font-size: 14px;
  }
  body > footer > div > div.disclaimer > img {
    max-width: 200px;
    height: 200px;
    align-self: center;
  }
}

@media (max-width: 900px) {
  body > footer > p {
    font-size: 16px;
  }
  body > footer > div.footer-content {
    display: flex;
    flex-direction: column;
  }
  body > footer > div > div.footer-links {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  @media (max-height: 600px) {
    /* Specific adjustments for devices with max width 900px and max height 600px */
  }
}

@media (max-width: 550px) {
  nav {
    justify-content: space-around;
  }
  nav a {
    font-size: 14px;
  }
  body > footer > div > div.disclaimer {
    flex-direction: column-reverse;
  }
  body > footer > p {
    font-size: 14px;
  }
  body > footer > div > div.disclaimer > p {
    margin: 35px 5px;
  }
}

@media (max-width: 930px) and (max-height: 450px) and (min-width: 910px) and (min-height: 400px) {
  /* Specific adjustments for devices within this range */
}

@media (max-width: 860px) and (max-height: 1280px) and (min-width: 750px) and (min-height: 1000px) {
  /* Specific adjustments for devices within this range */
}

@media (max-width: 908px) and (max-height: 600px) {
  body > footer > div > div.footer-links {
    flex-direction: column;
  }
}

@media (max-height: 950px) {
  /* Adjustments for max height 950px */
}

@media (max-height: 600px) {
  /* Adjustments for max height 600px */
}

@media (max-height: 500px) {
  /* Adjustments for max height 500px */
}

@media (max-height: 350px) {
  /* Adjustments for max height 350px */
}