@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* Document */
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  color: #e0e0e0; 
  background-color: #151b2c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

/* footer */
footer {
  border-top: 1px solid black;
  border-radius: 2px;
  color: #e0e0e0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
  background-color: #010920;
}

footer > p {
  width: 100%;
  text-align: center;
  margin: 0;
  font-variant-caps: all-petite-caps;
  padding: 10px 0;
  font-size: larger;
  border-top: 1px solid #999ca5;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  place-items: center;
  margin-bottom: 20px;
}

.disclaimer {
  display: flex;
}

.disclaimer p{
  text-align: justify;
  font-style: italic;
  align-self: center;
  line-height: 30px;
  font-size: 18px;
  margin: 35px;
}

.disclaimer > img {
  max-width: 300px;
  height: auto;
}

.footer-links {
  display: flex;
  gap: 35px;
  align-self: baseline;
  margin: 40px auto auto
}

.footer-links h3 {
  margin: 0 0 30px;
  font-variant: all-small-caps;
  color: #cccdd2;
  white-space: nowrap;
}

.footer-links a, .footer-links button {
  color: #cccdd2;
  text-decoration: none;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #cccdd2;
  transition: border-color 0.3s, color 0.3s;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.footer-links a:hover, .footer-links button:hover {
  color: #666b79; 
  border-bottom: 1px solid #666b79; 
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

  /* Header */
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010920;
  }

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    gap: 6%;
  }

  /* Link styling */
  nav a {
    color: white;
    font-size: 20px;
    transition: color 0.3s, background-color 0.3s;
    border-bottom: 2px solid transparent;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    font-variant: small-caps;
    overflow: hidden;
  }
  

  nav a:hover:not(:nth-child(1)) {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
  }

  .home {
    width: 110px;
  }

  /* Adjusting the logo image */
  #logo {
    max-width: 110px;
    height: auto;
    display: block;
  }

  /* Main content :
  ** - title
  ** - searchbar */

  #canslim-link {
    position: absolute;
    bottom: 3%;
    left: 25%;
    transform: translateX(-50%);
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    padding: 5px;
    border-bottom: 1px solid #b2b5bc;
    animation: linkGlow 6s infinite;
    text-align: center;
    white-space: nowrap;
  }

#canslim-link:hover {
    color: #666b79;
    border-bottom: 1px solid #666b79;
}

@keyframes linkGlow {
  0% {
      color: #4d5262;
      border-bottom-color: #4d5262;
  }
  12.5% {
    color: #666b79;
    border-bottom-color: #666b79;
  }
  25% {
    color: #80848f;
    border-bottom-color: #80848f;
  }
  37.5% {
    color: #999ca5;
    border-bottom-color: #999ca5;
  }
  50% {
      color: #b2b5bc;
      border-bottom-color: #b2b5bc;
  }
  62.5% {
    color: #999ca5;
    border-bottom-color: #999ca5;
  }
  75% {
    color: #80848f;
    border-bottom-color: #80848f;
  }
  87.5% {
    color: #666b79;
    border-bottom-color: #666b79;
  }
  100% {
      color: #4d5262;
      border-bottom-color: #4d5262;
  }
}
  
  /* Container */
  .container {
    width: 90%;
    margin: 60px auto;
    border-radius: 10px;
    background-color: #010920;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    padding: 20px 20px 40px;
    border: 1px solid #2c2c2c;
    transition: all 0.3s ease;
    justify-content: flex-start;
    overflow: hidden;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
  
  .container h3 {
    font-family: 'Quicksand', sans-serif;
    color: #cccdd2;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    opacity: 0;
    animation: dropDownH3 1.4s ease forwards;
  }

  #search-glass {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #cccdd2;
  }

  .title-container {
    text-align: center;
    padding: 80px 20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; 
    user-select: none;
}

.title-container .canslim,
.title-container .strategy {
    font-family: 'Monument', sans-serif;
    color: #68869a; 
    font-size: 38px;
    margin: 0;
    line-height: 5.2;
    opacity: 0;
    animation: dropDownCanslim 1s ease forwards;
}

.title-container .strategy {
    -webkit-text-stroke: 1px #68869a; 
    color: transparent;
}

.title-container .calculator {
  font-family: 'Quicksand', sans-serif;
  color: #cccdd2;
  font-size: 72px;
  z-index: 1;
  opacity: 0;
  animation: fadeInCalculator 10s ease infinite;
  user-select: none;
}

@keyframes dropDownH3 {
  0% {
    transform: translateY(-50%);
    opacity: 0;
}
100% {
    transform: translateY(0);
    opacity: 1;
}
}

@keyframes dropDownCanslim {
  0% {
      transform: scaleY(1.0) scaleX(1.0) translateY(-80px);
      opacity: 0;
  }
  100% {
      transform: scaleY(2.0) scaleX(2.5) translateY(0);
      opacity: 1;
  }
}

@keyframes fadeInCalculator {
    0% {
        transform: scaleX(1.0);
        opacity: 0;
    }
    100% {
        transform: scaleX(1.3);
        opacity: 1;
    }
}

  /* Search results */
  .search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-bottom: 200px;
  }

  .input-container {
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .fa-solid.fa-magnifying-glass {
  cursor: pointer;    
  color: #333;
  }
  .search-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid #ddd;
  }
  #clear-button {
  padding: 6px 14px;
  background-color: #656566;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  }
  #search-results {
    position: absolute;
    top: 65%;
    left: 6%;
    width: 83%;
    margin: 0;
    display: none;
    max-height: 250px;
    overflow-y: auto;
    align-self: baseline;
    background-color: #333a4c;
    z-index: 10;
    min-height: 50px;
    padding-bottom: 0;
  }
/* Search results */
.result-item {
  background-color: #4d5262;
  padding: 12px;
  margin: 20px auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}

.result-item:hover {
  background-color: #666b79;
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.result-item:last-child {
  border-bottom: none;
}

.no-result {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #cccdd2;
  font-weight: bold;
}

#search-input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  justify-self: flex-end;
  border-radius: 15px;
  background-color: #333a4c;
  color: #cccdd2;
  flex: 1;
  padding-right: 40px;
}

.industry {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: #80848f;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  display: inline;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4d5262;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
}

.popup.show {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.popup button {
  display: block;
  width: 30%;
  padding: 15px;
  margin: 10px 0;
  background-color: #999ca5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: background-color 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-variant: petite-caps;
}

.popup button:hover {
  background-color: #1a2136;
}

.popup p {
  font-size: 30px;
  margin-top: 20px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #169eff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

.title {
  font-size: 32px;
  color: #e0e0e0;
  text-align: center;
  animation: dropDownH3 1.0s ease forwards;
}

.title-container-canslim {
  text-align: center;
  position: relative;
}

#canslim-explanation {
  font-size: 24px;
  color: #e0e0e0;
  margin-top: 20px;
  transition: opacity 1s ease-in-out;
}

.explanation {
  display: block;
  opacity: 0;
}

.explanation-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.section {
  margin: 0 15px 40px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #e0e0e0;
  border-bottom: 1px solid #b2b5bc;
  padding-bottom: 5px;
  animation: dropDownH3 1.4s ease forwards;
}

.subsection-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #cccdd2;
}

.text {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.text-list {
  margin-left: 20px;
}

.book-link, .resource-link {
  color: #80848f;
  text-decoration: none;
  border-bottom: 1px solid #80848f;
  transition: color 0.3s, border-color 0.3s;
}

.book-link:hover, .resource-link:hover {
  color: #666b79;
  border-bottom: 1px solid #666b79;
}

/* Responsive */
@media (max-width: 1350px) { 
  div.input-container {
    width: 80%;
  }

  body > div > div.title-container h1.calculator {
    font-size: 45px;
  }

  body > div > div.title-container > div > h1.canslim, 
  body > div > div.title-container > div > h1.strategy {
    font-size: 24px;
  }

  #search-results {
    width: 73%;
    left: 10%;
  }

  body > div > div.search-container > h3 {
    font-size: 16px;
  }
}

@media (max-width: 1250px) { 
  body > footer > div > div.disclaimer > p {
    font-size: 14px;
  }

  body > footer > div > div.disclaimer > img {
    max-width: 200px;
    height: 200px;
    align-self: center;
  }
}

/* Ipad */
@media (max-width: 1024px) {
  body > div > div.search-container > h3 {
    width: 80%;
  }

  .search-container {
    margin-bottom: 150px;
  }

  #search-results {
    top: 67%;
  }

  h1 {
    font-size: 28px;
    margin: 0;
  }

  #search-results > div.result-item > p, #search-results > div.result-item > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  body > footer > div > div.footer-links > div > h3 {
    font-size: 16px;
  }

  .footer-links a {
    font-size: 14px;
  }
}

/* Ipad Mini */
@media (max-width: 900px) {
  body > footer > p {
    font-size: 16px;
  }

  .rotate-up {  
    transform: rotate(180deg);
  }

  body > footer > div.footer-content {
    display: flex;
    flex-direction: column;
  }

  body > footer > div > div.footer-links {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  #search-results {
    width: 70%;
    max-height: 200px;
  }

  #search-results > div.search-title-container > h3 {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #search-results > div.result-item {
    padding: 5px;
    gap: 10px;
  }

  #search-results > div > div {
    padding: 0;
  }

  #search-results > div > div > button {
    padding: 5px;
    font-size: 14px;
    margin: auto;
  }

  div.container {
    display: block;
    padding-bottom: 200px;
  }

  #search-results {
    top: 120%;
    width: 75%;
  }

  .title-container {
    margin-top: 10px;
  }

  #canslim-link {
    left: 50%;
  }
}

@media (max-width: 550px)  {
  nav {
    justify-content: space-around;
  }

  nav a {
    font-size: 14px;
  }

  body > footer > div > div.disclaimer {
    flex-direction: column-reverse;
  }

  body > footer > p {
    font-size: 14px;
  }

  body > footer > div > div.disclaimer > p {
    margin: 35px 5px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  body > div > div.title-container h1.calculator {
    font-size: 40px;
  }

  body > div > div.title-container > div > h1.canslim,
  body > div > div.title-container > div > h1.strategy {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  nav {
    width: 95%;
  }

  nav a {
    font-size: 14px;
    padding: 0;
  }

  #search-input {
    margin-left: 10px;
    padding: 8px;
  }
}

@media (max-height: 950px) and (max-width: 800px){
  .search-container {
    margin-bottom: 100px;
  }

  body > div.container {
    padding-bottom: 100px;
  }
}

@media (max-height: 600px) {
  .search-container {
    margin-bottom: 80px;
  }

  #search-results {
    max-height: 100px;
    top: 70%;
  }
}

@media (max-height: 500px) {
  #search-results {
    max-height: 200px;
    top: 110%;
  }

  .search-container .container {
    padding-bottom: 250px;
  }
}

@media (max-height: 350px) {
  .search-container {
    margin-bottom: 60px;
  }

  #search-results {
    top: 100%;
  }
}

/* WIDTH and HEIGHT */
@media (max-width: 1024px) and (max-height: 800px) {
  #search-results {
    max-height: 160px;
  }
}

@media (max-width: 900px) and (max-height: 600px) { 
  div#search-results {
    top: 110%;
  }

  body > div:nth-child(2) {
    padding-bottom: 200px;
  }
}

@media (max-width: 908px) and (max-height: 600px) {
  body > footer > div > div.footer-links {
    flex-direction: column;
  }
}

@media (max-width: 850px) and (max-height: 400px) {
  #search-results {
    top: 110%;
  }

  body > div:nth-child(2) {
    padding-bottom: 200px;
  }
}

@media (max-width: 860px) and (max-height: 1280px) and (min-width: 750px) and (min-height: 1000px) {
  div#search-results {
    max-height: 400px;
  }

  body > div:nth-child(2) {
    padding-bottom: 50px;
  }
}

@media (max-width: 930px) and (max-height: 450px) and (min-width: 910px) and (min-height: 400px) {
  div#search-results {
    top: 80%;
  }

  body > div:nth-child(2) {
    padding-bottom: 150px;
  }
}

@media (max-width: 480px) and (max-height: 670px) {
  .search-container {
    margin-bottom: 40px;
  }

  nav {
    justify-content: space-around;
  }

  nav a {
    font-size: 12px;
  }

  body > footer > div > div.disclaimer {
    flex-direction: column;
  }

  body > footer > p {
    font-size: 12px;
  }

  body > div:nth-child(2) {
    padding-bottom: 100px;
  }
}
