@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* Document */
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  color: #e0e0e0; 
  background-color: #151b2c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

/* footer */
footer {
  border-top: 1px solid black;
  border-radius: 2px;
  color: #e0e0e0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
  background-color: #010920;
  margin-top: 40px;
}

footer .footer-legal {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: larger;
  border-top: 1px solid #999ca5;
  margin-top: 20px;
}

footer .footer-legal p {
  font-variant-caps: all-petite-caps;
  margin: 0 auto 15px;
  color: #999ca5;
  text-align: center;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  place-items: center;
  margin-bottom: 20px;
}

.disclaimer {
  display: flex;
}

.disclaimer p{
  text-align: justify;
  font-style: italic;
  align-self: center;
  line-height: 30px;
  font-size: 18px;
  margin: 35px;
}

.disclaimer > img {
  max-width: 300px;
  height: auto;
}

.footer-links {
  display: flex;
  gap: 35px;
  align-self: baseline;
  margin: 40px auto auto
}

.footer-links h3 {
  margin: 0 0 30px;
  font-variant: all-small-caps;
  color: #cccdd2;
  white-space: nowrap;
}

.footer-links a, .footer-links button {
  color: #cccdd2;
  text-decoration: none;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #cccdd2;
  transition: border-color 0.3s, color 0.3s;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.footer-links a:hover, .footer-links button:hover {
  color: #666b79; 
  border-bottom: 1px solid #666b79; 
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-legal a {
  color: #007bff; /* Match your site’s link style */
  text-decoration: none;
  margin-right: 15px;
}

.footer-legal a:hover {
  text-decoration: underline;
}

.footer-legal p {
  margin-top: 10px;
  color: #666; /* Gray color to distinguish from the main content */
}

  /* Header */
header {
  width: 100%;
  background-color: #010920;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  gap: 6%;
  position: relative;
}

/* Link styling */
nav a {
  color: white;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s;
  border-bottom: 2px solid transparent;
  text-align: center;
  text-decoration: none;
  font-family: 'Trebuchet MS', sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  font-variant: small-caps;
  overflow: hidden;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 10px 15px; 
}

#search-toggle {
  cursor: pointer;
  display: none;
}

nav a svg {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  display: none;
}

nav a:hover:not(.home) {
  color: #4CAF50;
  border-bottom: 2px solid #4CAF50;
}

nav a:hover svg * {
  stroke: #4CAF50;
  fill: none;
}

body > header > nav > a:nth-child(2):hover > svg * {
  fill: #4CAF50;
}

a.home {
  padding: 0;
}

/* Adjusting the logo image */
#logo {
  max-width: 110px;
  height: auto;
  display: block;
}

#ty-msg {
  background-color: #000000;
  color: #87ceeb;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 15px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: fadeInOut 4s ease-in-out forwards infinite;
  display: none;
  width: 100%;
  margin: 0;
  z-index: 103;
}

/* Animation pour le texte */
@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

  /* Main content :
  ** - title
  ** - searchbar */

  #canslim-link {
    position: absolute;
    bottom: 3%;
    left: 25%;
    transform: translateX(-50%);
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    padding: 5px;
    border-bottom: 1px solid #b2b5bc;
    animation: linkGlow 6s infinite;
    text-align: center;
    white-space: nowrap;
  }

#canslim-link:hover {
    color: #666b79;
    border-bottom: 1px solid #666b79;
}

@keyframes linkGlow {
  0% {
      color: #4d5262;
      border-bottom-color: #4d5262;
  }
  12.5% {
    color: #666b79;
    border-bottom-color: #666b79;
  }
  25% {
    color: #80848f;
    border-bottom-color: #80848f;
  }
  37.5% {
    color: #999ca5;
    border-bottom-color: #999ca5;
  }
  50% {
      color: #b2b5bc;
      border-bottom-color: #b2b5bc;
  }
  62.5% {
    color: #999ca5;
    border-bottom-color: #999ca5;
  }
  75% {
    color: #80848f;
    border-bottom-color: #80848f;
  }
  87.5% {
    color: #666b79;
    border-bottom-color: #666b79;
  }
  100% {
      color: #4d5262;
      border-bottom-color: #4d5262;
  }
}
  
  /* Container */
  .container {
    width: 90%;
    margin: 25px auto 45px;
    border-radius: 10px;
    background-color: #010920;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    padding: 20px 20px 40px;
    border: 1px solid #2c2c2c;
    transition: all 0.3s ease;
    justify-content: flex-start;
    overflow: hidden;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }

  .container h3 {
    font-family: 'Quicksand', sans-serif;
    color: #cccdd2;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    opacity: 0;
    animation: dropDownH3 1.4s ease forwards;
  }

  #search-glass {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #cccdd2;
  }

  .title-container {
    text-align: center;
    padding: 80px 20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; 
    user-select: none;
}

.title-container .canslim,
.title-container .strategy {
    font-family: 'Monument', sans-serif;
    color: #68869a; 
    font-size: 38px;
    margin: 0;
    line-height: 5.2;
    opacity: 0;
    animation: dropDownCanslim 1s ease forwards;
}

.title-container .strategy {
    -webkit-text-stroke: 1px #68869a; 
    color: transparent;
}

.title-container .calculator {
  font-family: 'Quicksand', sans-serif;
  color: #cccdd2;
  font-size: 72px;
  z-index: 1;
  opacity: 0;
  animation: fadeInCalculator 10s ease infinite;
  user-select: none;
}

@keyframes dropDownH3 {
  0% {
    transform: translateY(-50%);
    opacity: 0;
}
100% {
    transform: translateY(0);
    opacity: 1;
}
}

@keyframes dropDownCanslim {
  0% {
      transform: scaleY(1.0) scaleX(1.0) translateY(-80px);
      opacity: 0;
  }
  100% {
      transform: scaleY(2.0) scaleX(2.5) translateY(0);
      opacity: 1;
  }
}

@keyframes fadeInCalculator {
    0% {
        transform: scaleX(1.0);
        opacity: 0;
    }
    100% {
        transform: scaleX(1.3);
        opacity: 1;
    }
}

  /* Search results */
  .search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-bottom: 220px;
  }

  .input-container {
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .fa-solid.fa-magnifying-glass {
  cursor: pointer;    
  color: #333;
  }
  .search-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid #ddd;
  }
  #clear-button {
  padding: 6px 14px;
  background-color: #656566;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  }
  #search-results {
    position: absolute;
    top: 68%;
    left: 6%;
    width: 83%;
    margin: 0;
    display: none;
    max-height: 350px;
    overflow-y: auto;
    align-self: baseline;
    background-color: #333a4c;
    z-index: 10;
    min-height: 50px;
    padding-bottom: 0;
  }
/* Search results */
.result-item {
  background-color: #4d5262;
  padding: 12px;
  margin: 20px auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}

.result-item:hover {
  background-color: #666b79;
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.result-item:last-child {
  border-bottom: none;
}

.no-result {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #cccdd2;
  font-weight: bold;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  background-color: #333a4c;
  color: #cccdd2;
  flex: 1;
  padding-right: 40px;
}

.industry {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: #80848f;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  display: inline;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #169eff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

/* Container for Buttons */
.btnDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 5px;
  border-top: 1px solid #444a5f;
}

/* See More Button */
.see-more {
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 14px;
  border: 1px solid transparent;
  margin: 0;
}

.see-more:hover {
  background-color: #4f91ff;
  color: #ffffff;
  border-color: #4f91ff;
}

/* Clear Button */
.clear {
  cursor: pointer;
  font-size: 18px;
  color: #ff6b6b;
  padding: 5px 15px;
  border-radius: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 500;
  border: 1px solid transparent;
  margin: 0;
}

.clear:hover {
  background-color: #ff6b6b;
  color: #ffffff;
  border-color: #ff6b6b;
}

/* TAB NAV */
.tab-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 15px;
  border-bottom: 2px solid #4d5262; 
  margin: 0 auto 15px;
}

.tab-btn {
  position: relative;
  padding: 10px 0;
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
}

.tab-btn::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.tab-btn.active::before {
  background-color: #4f91ff; 
}

.tab-btn:hover {
  color: #4f91ff;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-btn.active {
  color: #ffffff;
  font-weight: bold;
}

/* General styling for news items */
.news-item {
  display: flex;
  gap: 15px;
  padding: 10px;
  background-color: #2d3a4f;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: background-color 0.3s;
  align-items: center;
}

.news-item:hover {
  background-color: #3f4e68;
}

.news-thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  object-fit: cover;
}

.news-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-title {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 5px;
  transition: color 0.3s;
}

.news-title:hover {
  color: #4f91ff;
}

.news-publisher,
.news-date {
  font-size: 12px;
  color: #cccccc;
  margin: 2px 0;
}

.news-publisher {
  font-style: italic;
}

.news-date {
  font-size: 11px;
  color: #999999;
}

/* SECOND PAGE */
.content-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  width: 90%;
  background-color: #010920;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
  padding: 20px;
}

/* Sidebar Styling */
.sidebar {
  background-color: #1b2336;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-menu ul {
  padding: 0;
  list-style: none;
}

.nav-menu li:not(:last-child) {
  margin-bottom: 55px;
}

.nav-menu a {
  color: #1abc9c;
  text-decoration: none;
  font-size: 1.125rem;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: #ffffff;
}

/* Main Content Area */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

body > div.content-wrapper {
  box-sizing: border-box;
}

/* Title Section */
.title-section {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #1abc9c;
}

.main-title {
  font-size: 2.5rem;
  color: #1abc9c;
  margin-bottom: 10px;
  text-align: center;
}

.main-subtitle {
  font-size: 1.25rem;
  color: #b0b0b0;
  text-align: center;
}

/* Interactive Overview */
.interactive-overview {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: #1b2336;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

/* Image Container */
.image-container {
  flex: 1;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Text Container */
.overview-text {
  flex: 2;
  color: #e0e0e0;
}

.overview-title {
  font-size: 1.75rem;
  color: #1abc9c;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  text-align: center;
}

.overview-description {
  font-size: 1.125rem;
  color: #b0b0b0;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  text-align: center;
}


.content-section {
  background-color: #1b2336;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 2rem;
  color: #1abc9c;
  margin-bottom: 20px;
}

.block-title {
  font-size: 1.5rem;
  color: #b0b0b0;
  margin-top: 20px;
}

.content-list {
  list-style: none;
  padding-left: 0;
}

.content-list li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  color: #e0e0e0;
}

.content-list li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #1abc9c;
  font-size: 1.5rem;
}

.content-list.ordered li {
  list-style: decimal inside;
  color: #e0e0e0;
  padding-left: 0;
}

.resource-list {
  padding-left: 20px;
}

.resource-link {
  color: #1abc9c;
  text-decoration: none;
  transition: color 0.3s ease;
}

.resource-link:hover {
  color: #ffffff;
}

/* Styled List */
.styled-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.styled-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.styled-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.styled-list li strong {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  color: #1abc9c;
}

.styled-list li span {
  flex-grow: 1;
  white-space: normal;
}

.styled-list li:hover {
  background: #117864;
  color: #fff;
}

.disadvantage.styled-list li strong {
  color: #e1284c;
}

.disadvantage.styled-list li:hover {
  background: #791125;
}

#analysis > div > ul > li > strong{
  width: 50%;
}



.list-icon {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1abc9c;
  margin-right: 15px;
}

.list-content {
  font-size: 1.125rem;
  color: #e0e0e0;
  align-self: center;
}

.styled-list li:hover .list-icon,
.styled-list li:hover .list-content {
  color: #fff;
}

/* FAQ Section Styling */
.content-section:not(:last-child) {
  margin-bottom: 40px;
}

.block-title {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: #1b2336;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.faq-question {
  font-size: 1.5rem;
  color: #1abc9c;
  margin-bottom: 10px;
  cursor: pointer;
  font-variant: small-caps;
}

.faq-answer {
  font-size: 1.125rem;
  color: #e0e0e0;
  margin: 0;
  padding-top: 10px;
  display: none; /* Initially hidden */
}

.faq-item.active .faq-answer {
  display: flex;
  flex-direction: column;
}

/* Image Styling Variations */
.faq-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  justify-self: center;
  margin: 10px auto;
}

.faq-image-small {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  align-self: center;
}

.faq-image-large {
  width: 100%;
  max-width: 750px;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Book Info Styling */
.book-info {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 15px;
}

.book-image {
  width: 150px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.book-description {
  max-width: calc(100% - 170px);
}

/* Link Styling */
#faq > div > div > div > p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq-link, .book-link {
  color: #0056b3;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  border-bottom: 2px solid transparent; 
  transition: color 0.3s ease, border-bottom 0.3s ease, font-weight 0.3s ease;
}

.faq-link:hover, .book-link:hover {
  color: #003f7f;
  border-bottom: 2px solid #003f7f;
  font-weight: 600;
}

/* Buying Checklist Styles */
.dynamic-checklist {
  background-color: #1b2336;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.checklist-step {
  margin-top: 20px;
  transition: opacity 0.5s ease-in-out;
}

.checklist-header h3 {
  font-size: 1.75rem;
  color: #1abc9c;
  margin-bottom: 10px;
  text-align: center;
}

.checklist-hover {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
  background-color: #151b2c;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.checklist-hover:hover {
  background-color: #117864;
}

.checklist-hover label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  color: #1abc9c;
  padding: 8px 12px; 
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.criteria-explanation {
  font-size: 1rem;
  color: #b0b0b0;
  padding: 10px;
  background-color: #2c3e50;
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
  text-align: justify;
}

.nav-button {
  background-color: #1abc9c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 10px 0 10px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #16a085;
}

.section-title {
  font-size: 2.5rem;
  color: #1abc9c;
  margin-bottom: 20px;
  text-align: center;
}

#buying-checklist > h2 {
  font-size: 2.25rem;
}

.content-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #e0e0e0;
  background-color: #1b2336;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
  margin-bottom: 20px;
}

.content-text .highlight {
  color: #1abc9c;
  font-weight: 600;
  background-color: rgba(26, 188, 156, 0.1);
  padding: 2px 6px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.content-text .highlight:hover {
  background-color: rgba(26, 188, 156, 0.2);
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
}

.additional-info {
  margin-top: 10px;
  padding: 15px;
  background-color: #1f1f2e;
  border-left: 4px solid #e63946;
  border-radius: 4px;
  color: #f1f1f1;
  font-size: 0.95rem;
}

#additional-info > p {
  font-size: 1.2rem;
}


/* General Responsive Adjustments */
@media (max-width: 1366px) {
  body > header > nav {
    margin: 0 auto;
    gap: 4%;
  }
}

@media (max-width: 1350px) { 
  div.input-container {
    width: 80%;
  }

  body > div > div.title-container h1.calculator {
    font-size: 45px;
  }

  body > div > div.title-container > div > h1.canslim, 
  body > div > div.title-container > div > h1.strategy {
    font-size: 24px;
  }

  #search-results {
    width: 73%;
    left: 10%;
  }

  body > div > div.search-container > h3 {
    font-size: 16px;
  }
}

@media (max-width: 1250px) { 
  body > footer > div > div.disclaimer > p {
    font-size: 14px;
  }
  body > footer > div > div.disclaimer > img {
    max-width: 180px;
    height: 180px;
    align-self: center;
  }

  nav a {
    font-size: 16px;
  }

  #news-results > div > div > a {
    font-size: 12px;
  }

  body > div > div.search-container {
    margin-bottom: 250px;
  }

  #analysis > div > ul > li {
    flex-direction: column;
  }
}

/* Ipad */
@media (max-width: 1024px) {
  body > footer > div > div.footer-links > div > h3 {
    font-size: 16px;
  }
  .footer-links a {
    font-size: 14px;
  }

  nav a {
    font-size: 14px;
    white-space: nowrap;
  }

  .container {
    padding-bottom: 60px;
  }

  .search-container {
    align-self: center;
    margin-bottom: 250px;
  }

  #search-results {
    top: 110%;
  }

  h1 {
    font-size: 28px;
    margin: 0;
  }

  #results-results > div.result-item > p, 
  #results-results > div.result-item > span,
  #news-results > div > div > p.news-publisher
  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: smaller;
  }

  #search-results > nav > button {
    font-size: small;
  }

  #news-results > div > div > a {
    font-size: smaller;

  }

  #buying-checklist > h2 {
    font-size: 1.75rem;
  }

  div.checklist-header h3 {
    font-size: 1.25rem;
  }

  div.checklist-hover > label, 
  .criteria-explanation {
    font-size: 0.9rem;
  }

  #additional-info > p {
    font-size: 1.1rem;
  }
  
}

@media (max-width: 975px) {
  @media (max-height: 450px) {
    nav a {
      width: 100%; 
      font-size: 16px;
    }

    nav a svg {
      width: 30px;
      height: 30px;
      display: block;
    }

    nav a span {
      display: none;
    }

    body > header > nav {
      margin: 0 auto;
    }

    nav.nav-menu a {
      box-sizing: border-box;
    }

    body > div.container {
      padding-bottom: 90px;
    }

    #search-results {
      max-height: 290px;
    }
  }

  h4.faq-question {
    font-size: 1.25rem;
  }
}

/* Ipad Mini */
@media (max-width: 900px) {
  div.footer-legal > p {
    font-size: 16px;
  }
  body > footer > div.footer-content {
    display: flex;
    flex-direction: column;
  }
  body > footer > div > div.footer-links {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
  }  

  #search-results {
    width: 70%;
  }

  #results-results > div.search-title-container > h3 {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #results-results > div.result-item {
    padding: 5px;
    gap: 10px;
  }

  #results-results > div > div {
    padding: 0;
  }

  #results-results > div > div > button {
    padding: 5px;
    font-size: 14px;
    margin: auto;
  }

  div.container {
    display: block;
    padding-bottom: 300px;
  }

  #search-results {
    width: 75%;
    max-height: 260px;
    left: 10%;
  }

  #canslim-link {
    left: 50%;
  }

  .content-wrapper {
    grid-template-columns: 1fr;
  }

  .interactive-overview {
    flex-direction: column;
  }

  .nav-menu li:not(:last-child) {
    margin-bottom: 20px;
  }

  .main-title {
    font-size: 2rem;
  }

  .section-title {
    font-size: 1.75rem;
  }

  .block-title {
    font-size: 1.25rem;
  }

  .styled-list-container {
    gap: 20px;
  }

  #analysis > div:nth-child(3) > ul > li > strong {
    width: 100%;
  }

  #additional-info > p {
    font-size: 1rem;
  }

  .dynamic-ad-container {
    width: 95%;
    height: 425px;
    margin: 10px auto;
    border-radius: 8px;
  }

  .dynamic-ad-container .ad-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }  
}

/* Ipad Mini */
@media (max-width: 830px) {
  nav a {
    font-size: 12px;
  }

  nav a svg {
    width: 14px;
    height: 14px;
  }

  @media (max-height: 450px) {
    nav a {
      width: 100%; 
      font-size: 16px;
    }

    nav a svg {
      width: 25px;
      height: 25px;
      display: block;
    }

    nav a span {
      display: none;
    }

    body > header > nav {
      margin: 0 auto;
    }
  }

  div.checklist-header h3 {
    font-size: 1rem;
  }

  #additional-info > p {
    font-size: 0.9rem;
  }
  
}

/* Phone > Iphone 14 and smaller */
@media (max-width: 668px) {
  body > header {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: -webkit-fill-available;
    box-sizing: border-box;
    border-top: 1px solid #999ca5;
  }
  body > header > nav {
    width: 95%;
    justify-content: space-around;
    margin: auto;
  }

  body > header > div#input-container-search {
    right: 50px;
  }

  nav a span {
    display: none;
  }

  nav a {
    width: 100%;
  }
  
  nav a svg.nav-icon {
    width: 28px;
    height: 28px;
    margin: 5px auto;
    display: block;
  }

  #logo {
    max-width: 80px;
  }

  body > div.container {
    margin-top: 0;
    padding-top: 60px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    padding-bottom: 120px;
  }

  body > div.content-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 0;
  }

  .main-title {
    font-size: 1.5rem;
  }

  .main-subtitle {
    font-size: 1rem;
  }

  @media (max-height: 400px) {
    body > footer {
      margin-top: 20px;
      padding-bottom: 85px;
    }
  }

  body #ty-msg {
    display: block;
    border-radius: 0;
  }

  #faq > div > div.faq-item.active > div > div > div > p {
    font-size: 15px;
  }

  .book-image {
    width: 100px;
  }

  .image-container {
    width: 100%;
    max-width: none;
  }

  .overview-title, .section-title {
    font-size: 1.5rem;
  }

  #buying-checklist > h2 {
    font-size: 1.5rem;
  }

  .overview-description {
    font-size: 1rem;
  }

  .block-title {
    font-size: 20px;
  }

  .content-text {
    font-size: 1rem;
    padding: 5px;
  }

  .styled-list li strong {
    width: 100%;
    margin-right: 0;
  }

  .content-section > h2, .content-section > div > h3 {
    text-align: center;
  }

  .list-content {
    font-size: 1rem;
  }

  body > div.container > div.search-container > h3  {
    font-size: 14px;
  }

  #buying-checklist > div.content-block > p {
    padding: 5px;
  }

  .nav-button {
    font-size: 0.8rem;
    padding: 8px 16px;
    margin: 20px 10px;
  }

  div.checklist-hover > label, 
  .criteria-explanation {
    font-size: 0.8rem;
  }

  .dynamic-ad-container {
    height: 350px;
  }
}


@media (max-width: 550px)  {
  body > footer > div > div.disclaimer {
    flex-direction: column-reverse;
  }

  div.footer-legal > p{
    font-size: 14px;
  }

  body > footer > div > div.disclaimer > p {
    margin: 35px 5px;
  }


  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  body > div > div.title-container h1.calculator {
    font-size: 40px;
  }

  body > div > div.title-container > div > h1.canslim,
  body > div > div.title-container > div > h1.strategy {
    font-size: 20px;
  }

  #main-content > div > div > ul > li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #canslim-info > div.main-content > * {
    text-align: justify;
  }
  
  #faq > div > div > h4 {
    text-align: center;
    font-size: 16px;
  }

  .disadvantage.styled-list li {
    background: #791125;
    }
  

  #canslim-info > aside > nav > ul > li > a {
    padding: 5px;
  }

  #faq > div > div > div > p  {
    font-size: 12px;
  }

  .book-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .book-description, .book-description p {
    max-width: none;
  }

  .dynamic-ad-container {
    height: 300px;
  }
}

@media (max-width: 500px) {
  a.nav-link, a.home {
    padding: 0;
    width: 100%;
  }

  #logo {
    padding: 0;
  }

  body > footer {
    padding-bottom: 85px;
  }

  .main-title {
    font-size: 1.125rem;
  }

  .main-subtitle {
    font-size: 0.75rem;
  }
  .overview-title, .section-title {
    font-size: 1.125rem;
  }

  div.checklist-header h3 {
    font-size: 0.75rem;
  }
}

@media (max-width: 450px) {
  nav {
    width: 95%;
  }

  header nav a {
    font-size: 14px;
    padding: 0;
  }

  .nav-menu a {
    font-size: 14px;
  }

  nav a svg.nav-icon {
    width: 20px;
    height: 20px;
  }

  #logo {
    max-width: 70px;
  }

  #search-input {
    padding: 8px;
  }

  div.input-container {
    width: 87%;
    margin-left: 20px;
  }

  #faq > div > div.faq-item.active > div > div > div > p {
    font-size: 14px;
  }

  @media (max-height: 670px) {
    body > footer > div > div.disclaimer {
      flex-direction: column;
    }

    div.footer-legal > p{
      font-size: 12px;
    }
  }

  #ty-msg {
    font-size: 14px;
  }

  div.checklist-hover > label, 
  .criteria-explanation {
    font-size: 0.7rem;
  }
}

@media (max-height: 950px) and (max-width: 800px){
  .search-container {
    margin-bottom: 100px;
  }
}

@media (max-height: 600px) {
  .search-container {
    align-self: flex-start;
  }
}

@media (max-height: 500px) {
  #search-results {
    top: 110%;
  }

  .search-container .container {
    padding-bottom: 250px;
  }

  body > div:nth-child(2) {
    padding-bottom: 150px;
  }
}

@media (max-height: 350px) {
  .search-container {
    margin-bottom: 60px;
  }

  #search-results {
    top: 100%;
  }
}

@media (max-width: 900px) and (max-height: 600px) {
  body > div:nth-child(2) {
    padding-bottom: 295px;
  }

  body > div.container > div.title-container {
    margin-top: 0;
  }

  body > footer > div > div.footer-links {
    flex-direction: column;
  }
}

@media (max-width: 850px) and (max-height: 400px) {
  #search-results {
    top: 110%;
  }

  body > div:nth-child(2) {
    padding-bottom: 320px;
  }
}

@media (max-width: 860px) and (max-height: 1280px) and (min-width: 750px) and (min-height: 1000px) {
  div#search-results {
    max-height: 395px;
  }

  body > div:nth-child(2) {
    padding-bottom: 50px;
  }
}

@media (max-width: 930px) and (max-height: 450px) and (min-width: 910px) and (min-height: 415px) {
  div#search-results {
    max-height: 350px;
  }

  body > div:nth-child(2) {
    padding-bottom: 210px;
  }
}

@media (max-width: 480px) and (max-height: 670px) {
  .search-container {
    margin-bottom: 40px;
  }

  body > div:nth-child(2) {
    padding-bottom: 350px;
  }
}
