/* Document */
html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}
/* Main content :
** - title
** - searchbar */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.main {
    width: 80%;
    height: max-content;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    align-items: center;
    flex: 1;
    margin: 150px 0 0;
    padding: 20px;
}
h1 {
    margin-bottom: 20px;
    grid-column: 1/3;
    text-align: center;
}
input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    justify-self: flex-end;
    margin-right: 10px;
}
.main i {
    margin-left: 15px;
    cursor: pointer;
}
/* Container */
.container {
    width: 90%;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    padding: 20px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    justify-content: flex-start;
    overflow: hidden;
}

.container h3 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 600;
}

/* Search results */
.fa-solid.fa-magnifying-glass {
    cursor: pointer;    
    color: #333;
}
.search-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
#clear-button {
    padding: 6px 12px;
    background-color: #656566;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
#search-results {
    width: 68%;
    margin: 0;
    grid-column: 1/3;
    grid-row: 3;
    justify-self: center;
    display: none;
    max-height: 400px;
    overflow-y: auto;
    padding-top: 0;
    align-self: baseline;
}
/* Search results */
.result-item {
    background-color: #fff;
    padding: 12px;
    margin: 20px 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}
.result-item:hover {
    background-color: #e6f7ff;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.result-item:last-child {
    border-bottom: none;
}
.no-result {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
.industry {
    margin-left: 10px;
    padding: 6px 12px;
    background-color: #0056b3;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    display: inline;
}

.note {
    margin-left: 15px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
/* NEWS container */
#news-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
}
.news-title {
    grid-column: 1/3;
    grid-template-rows: 1;
}

/* Chaque nouvelle */
.news {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    background-color: #fff;
    justify-content: space-between;
}

.ticker-publisher-container {
    display: flex;
    justify-content: space-between;
    justify-self: center;
}

.news:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.news-thumbnail {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.news h4 {
    margin: 10px;
    font-size: 1.25em;
    color: #333;
}

.news-publisher {
    font-size: 0.875em;
    color: #4b2a2a;
    margin-bottom: 0;
}

.news-tickers {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.news-tickers span {
    display: inline-block;
    background-color: #0A2A42;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.875em;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

.news-tickers span:hover {
    background-color: #0056b3;
}

.news-title {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-title h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.news-summary {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
}

/* footer */
footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px;
}
/* Header */
header {
    background-color: #0A2A42; 
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

/* Link styling */
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 16px;
    transition: color 0.3s, background-color 0.3s;
}

nav a:hover {
    color: #FFD700;
}

nav a {
    border-bottom: 2px solid transparent;
    padding: 10px 16px;
    width: 100%;
    text-align: center;
}

nav a:hover {
    border-bottom: 2px solid #FFD700;
    color: #FFD700;
}
a.home {
    padding-right: 0;
}

/* Trending Stocks */
div#stocks-container, div#daily-gainers-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 0;
    justify-items: center;
    width: auto;
    overflow-x: auto;
    overflow-y: auto;
    padding: 10px;
}
.stock {
    border-radius: 20px;
    transition: all .3s;
    border: 2px solid #ddd;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding: 10px;
    color: rgb(255, 255, 255);
}
  
.stock.green {
  background-color: #3e7548;
}
.stock.red {
  background-color: #9b4646;
}

.stock:hover {
  transform: scale(1.02);
}

.stock.green:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  border-color: green;

}

.stock.red:hover {
  box-shadow: 0px 8px 15px rgba(239, 7, 7, 0.2);
  border-color: red;
}

.title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
.title h2 {
    margin-bottom: 0;
}
.title i {
    margin-bottom: 5px;
}
.title-trending {
    display: flex;
    justify-content: center;
    align-items: center;  
    border-bottom: solid;
    border-radius: 5px;
    gap: 10px;
}

.title-trending h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
}

#ticker {
    font-size: small;
}
.stock h4, .stock #ticker {
  display: inline;
  margin: 0;
}

.navigation-button {
  border: none;
  background-color: #818881;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navigation-button:hover {
  background-color: #383938;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.title.with-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navigation {
    display: flex;
    align-items: center;
}

.title h1 {
    text-align: center;
    margin: 0 20px;
}


/* Loading screen */
#loading, #loading-daily {
    display: none;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background-color: rgba(255, 255, 255, 0.8);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* HAMSTER */
#hamster-loading {
    width: 100vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wheel-and-hamster {
    justify-self: center;
    --dur: 1s;
    position: relative;
    width: 12em;
    height: 12em;
    font-size: 14px;
  }
  
  .wheel,
  .hamster,
  .hamster div,
  .spoke {
    position: absolute;
  }
  
  .wheel,
  .spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .wheel {
    background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
    z-index: 2;
  }
  
  .hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em,1.85em);
    transform-origin: 50% 0;
    z-index: 1;
  }
  
  .hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    background: hsl(30,90%,55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
          0.75em -1.55em 0 hsl(30,90%,90%) inset;
    top: 0;
    left: -2em;
    width: 2.75em;
    height: 2.5em;
    transform-origin: 100% 50%;
  }
  
  .hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hsl(0,90%,85%);
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
  }
  
  .hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0,0%,0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
  }
  
  .hamster__nose {
    background: hsl(0,90%,75%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em;
    height: 0.25em;
  }
  
  .hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hsl(30,90%,90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
          0.15em -0.5em 0 hsl(30,90%,80%) inset;
    top: 0.25em;
    left: 2em;
    width: 4.5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
  }
  
  .hamster__limb--fr,
  .hamster__limb--fl {
    clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
  }
  
  .hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
    transform: rotate(15deg) translateZ(-1px);
  }
  
  .hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
    transform: rotate(15deg);
  }
  
  .hamster__limb--br,
  .hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
  }
  
  .hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
    transform: rotate(-25deg) translateZ(-1px);
  }
  
  .hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
    transform: rotate(-25deg);
  }
  
  .hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0,90%,85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
  }
  
  .spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
          linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
  }
  
  /* Animations */
  @keyframes hamster {
    from, to {
      transform: rotate(4deg) translate(-0.8em,1.85em);
    }
  
    50% {
      transform: rotate(0) translate(-0.8em,1.85em);
    }
  }
  
  @keyframes hamsterHead {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(8deg);
    }
  }
  
  @keyframes hamsterEye {
    from, 90%, to {
      transform: scaleY(1);
    }
  
    95% {
      transform: scaleY(0);
    }
  }
  
  @keyframes hamsterEar {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(12deg);
    }
  }
  
  @keyframes hamsterBody {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-2deg);
    }
  }
  
  @keyframes hamsterFRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(50deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-30deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterFLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-30deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(50deg);
    }
  }
  
  @keyframes hamsterBRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-60deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(20deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterBLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(20deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-60deg);
    }
  }
  
  @keyframes hamsterTail {
    from, 25%, 50%, 75%, to {
      transform: rotate(30deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(10deg) translateZ(-1px);
    }
  }
  
  @keyframes spoke {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(-1turn);
    }
  }